$background: #0f0f17;


*{
	all: unset;
	font-family: feather;
	font-family: DaddyTimeMono NF;
}

.bar {
  color: white;
  font-family: "Inter", sans-serif;
  
}

.center_modules {
  padding: 5px 10px;
  background: $background;
  padding: 10px 12px;
  font-size: 13px;
    border-radius: 16px;
}

.right_modules {
  padding: 5px 10px;
  background: $background;
  padding: 10px 12px;
  font-size: 13px;
    border-radius: 16px;
}

.left_modules {
  padding: 5px 10px;
  background: $background;
  padding: 10px 12px;
  font-size: 13px;
    border-radius: 16px;
}

.module_wif {
  background-color: transparent;
}

button {
  padding: 0px;
  background: none;
  border: none;
}



/* Music Popup*/

.music_btn_prev, .music_btn_play, .music_btn_next {
	font-family: Iosevka Nerd Font;
}
.music_btn_prev {
	color: #ffffff;
	font-size : 22px;
	font-weight : normal;
	margin: 0px 0px 0px 0px;
}
.music_btn_play {
	color: #ffffff;
	font-size : 22px;
	font-weight : normal;
	margin: 0px 0px 0px 0px;
}
.music_btn_next {
	color: #ffffff;
	font-size : 22px;
	font-weight : normal;
	margin: 0px 0px 0px 0px;
}


.center_pop {
    background-color: $background;
	border-radius: 16px;
  	padding: 10px;
}

.music_cover_art {
	background-size: cover;
	background-position: center;
	min-width: 170px;
	min-height: 170px;

    box-shadow: 5px 5px 5px 5px #06060b;

	margin: 10px;
	border-radius: 20px;
}

.center_time {
	font-size: 30px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
}


scale trough {
  all: unset;
  background-color: #22242b;
  box-shadow: 0 2px 3px 2px #06060b;
  border-radius: 16px;
  min-height: 10px;
  min-width: 70px;
  margin: 0px 10px 0px 0px;
}

.music_bar scale trough highlight {
	all: unset;
    background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
	border-radius: 24px;
}

.music_info {
  padding: 0px 10px;
}

.music_bar scale trough {
	all: unset;
	background-color: #232232;
    box-shadow: 0 6px 5px 2px #06060b;
	border-radius: 24px;
	min-height: 13px;
	min-width: 190px;
	margin : 0px 10px 20px 0px;
}


.cal:selected {
	background-color: #476b80;
}

.cal.header {
	background-color:#476b80;
	border-radius: 8px 8px 0px 0px;
	padding-top: 0px;
}

.cal {
	background-color:#232232;
	border-radius: 8px;
	padding-bottom: 7px;
}

.cal:indeterminate {
	color: #999999;
}


.cal.button {
	background: none;
}